@import "tailwindcss";
@config "../../tailwind.config.js";
@import "tailwindcss-animated";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-gray: #a08e8c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff6f2;
    --foreground: #20583f;
    --brand-gray: #a08e8c;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Didact_Gothic", sans-serif;
  overflow-x: hidden;
}

.footer{
  background:url('/Manucha.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;

}

.loading{
  background-image: url("/logo2.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position:center;
  height: 100%;
}
